body {
    margin: 0;
} 
header{
    height: auto;
    background-image: url("/images/header.jpg");

}
.header-info{
    margin-left: 50px;
}
section{
    padding: 20px;
}
h1{

}
h4{
    margin: 0;
}
p{

}

.col{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-left:50px;
    margin-right:50px;
    border-bottom: 1px solid black;
}
.sec-img{
    width: 120px;
    height: 90px;
}
.item-info{
    margin-left: 10px;
    width: 500px;


}
button{
    border-radius: 100px;
    border: 1px solid black;
    height: 45px;
    width: 45px;
    background-color: white;
}