body {
    margin: 0;
} 
header{
    display: ;
    border: 1px solid black;
}
.header-info{
    margin-left: 50px;
}
section{
    padding: 20px;
    border: 1px solid black;
}

.col{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-left:50px;
    margin-right:50px;
    border-bottom: 1px solid black;
}
.sec-img{
    width: 120px;
    height: 90px;
    border: 1px solid red;
}
.item-info{
    border: 1px solid red;
    margin-left: 10px;
    width: 500px;

}
button{
    border-radius: 100px;
    height: 25%;
    width: auto;
}